@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(100, 0, 150);
}

.container {
    width: 300px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.header {
    color: rgb(3, 144, 144);
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 2px dashed rgb(3, 144, 144);
    border-top: 2px dashed rgb(3, 144, 144);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.input-container {
    margin-bottom: 15px;
}

.box {
    height: 200px;
    text-align: center;
}

.box img {
    margin-top: 25px;
    height: 150px;
}

label {
    display: block;
    color: rgb(127, 117, 117);
    font-weight: 500;
}

input, select {
    width: 100%;
    margin-top: 5px;
    padding: 5px 3px;
}

input:focus, select:focus {
    border-color: rgb(3, 144, 144);
}

.result {
    padding: 10px 5px;
    border: 2px dashed rgb(3, 144, 144);
    border-radius: 5px;
}

.result p {
    font-weight: 500;
    text-align: center;
    color: rgb(3, 144, 144);
}